<nav class="navbar navbar-dark bg-dark movies-header">

    <div class="header-title">
        <h5>Filmes</h5>
    </div>

    <div class="header-separator"></div>

    <div class="header-actions">
        <button class="btn btn-light" type="button" (click)="increaseFont()">
            A+
        </button>
        <button class="btn btn-light" type="button" (click)="restoreFont()">
            A
        </button>
        <button class="btn btn-light" type="button" (click)="decreaseFont()">
            A-
        </button>
    </div>

</nav>