.movies-header {
  display: flex;
  align-items: center;
}

:host-context(.high-contrast) .movies-header {
  background-color: black !important;
  border-bottom: 1px solid white;
}

.header-title {
  flex-basis: 20%;
  color: white;
}

.header-title h5 {
  margin: 0;
  text-transform: uppercase;
}

.header-separator {
  flex-grow: 1;
}

.header-actions {
  display: flex;
  flex-basis: 20%;
  justify-content: flex-end;
}

.header-actions button {
  margin: 0 0.2rem;
  font-weight: bold;
}

:host-context(.high-contrast) .header-actions button {
  background-color: black;
  color: white;
}

:host-context(.high-contrast) .header-actions button:hover {
  color: yellow;
  border: 1px solid yellow;
}

:host-context(.high-contrast) .header-actions button:focus {
  color: yellow;
  border: 1px solid yellow;
}
