.page-title {
  padding: 1rem 0 0 2rem;
}

.movie {
  display: flex;
}

.movie-poster {
  padding: 2rem;
}

.movie-poster img {
  width: 18rem;
  border-radius: 0.75rem;
  overflow: hidden;
}

.movie-details {
  padding: 2rem 2rem 0 0;
}

.movie-details h1 {
  margin: 0;
  margin-bottom: 1rem;
}

.movie-details .movie-label {
  font-weight: bold;
}

.actions {
  padding: 0 2rem;
}
