.movies {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.movie {
  margin: 0.5rem 1rem;
  max-width: 13.75rem;
}

.movie .card {
  border-radius: 0.55rem;
  overflow: hidden;
}

.movie .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  width: 8.125rem;
  margin: 0.5rem;
}
