<div class="page-title">
    <h1 tabindex="0" #title>Filmes Populares</h1>
</div>
<div class="movies-container">

    <div class="movies-search">
        <app-movie-search></app-movie-search>
    </div>

    <div class="movies" *ngIf="!movies.length">
        <h1>Nenhum filme encontrado!</h1>
    </div>

    <ul class="movies" *ngIf="movies.length">
        <li class="movie" *ngFor="let movie of movies">
            <div class="card shadow">
                <img [src]="getPosterURL(movie.poster_path)" class="card-img-top" alt="Capa do Filme" tabindex="0">
                <div class="card-body">
                    <h5 class="card-title" tabindex="0">{{ movie.title }}</h5>
                    <p class="card-text" *ngIf="movie.release_date">{{movie.release_date | date: 'dd/MM/yyyy'}}</p>
                    <p class="card-text" *ngIf="!movie.release_date">Não disponível</p>
                    <button type="button" class="btn btn-primary" (click)="details(movie.id)"
                        tooltip="Detalhes do filme" placement="top">Detalhes</button>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="actions">
    <ul class="pagination justify-content-end">
        <li class="page-item" [class.disabled]="disablePrevious()">
            <button class="page-link" type="button" (click)="goToFirstPage()" tooltip="Ir para primeira página"
                placement="left">&lt;&lt;</button>
        </li>
        <li class="page-item" [class.disabled]="disablePrevious()">
            <button class="page-link" type="button" (click)="previousPage()"
                aria-label="Ir para página anterior">Anterior</button>
        </li>
        <li class="page-item disabled"><button class="page-link">{{ currentPage }} de {{ totalPages }}</button></li>
        <li class="page-item" [class.disabled]="disableNext()">
            <button class="page-link" type="button" (click)="nextPage()"
                aria-label="Ir para próxima página">Próximo</button>
        </li>
        <li class="page-item" [class.disabled]="disableNext()">
            <button class="page-link" type="button" (click)="goToLastPage()" tooltip="Ir para última página"
                placement="right">&gt;&gt;</button>
        </li>
    </ul>
</div>