<ul class="movies">
    <li class="movie" *ngFor="let movie of movies">
        <div class="card shadow">
            <img [src]="getPosterURL(movie.poster_path)" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">{{movie.release_date | date: 'dd/MM/yyyy'}}</p>
                <button type="button" class="btn btn-primary" (click)="details(movie.id)">Detalhes</button>
            </div>
        </div>
    </li>
</ul>

<div class="actions">
    <button type="button" class="btn btn-primary" (click)="previousPage()"
        [disabled]="disablePrevious()">Anterior</button>
    <button type="button" class="btn btn-primary" (click)="nextPage()" [disabled]="disableNext()">Próximo</button>
</div>