.page-title {
  padding: 1rem 0 0 2rem;
  text-align: center;
}

.movies-container {
  display: flex;
  margin-top: 2rem;
}

.movies-search {
  flex-basis: 25%;
  padding-left: 2rem;
}

.movies {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  flex-basis: 75%;
  padding-left: 2.5rem;
}

:host-context(.high-contrast) .card-body {
  background-color: black;
  color: white;
}

:host-context(.high-contrast) .card-body button {
  background-color: black;
  color: white;
  border-color: white;
}

:host-context(.high-contrast) .shadow img {
  border-bottom: 1px solid white;
}

.movie {
  margin: 0 1rem 0.5rem 0;
  max-width: 220px;
}

.movie .card {
  border-radius: 0.55rem;
  overflow: hidden;
}

.movie .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie .card-img-top {
  min-width: 218px;
  min-height: 327px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.actions button {
  width: 8.125rem;
  margin: 0.5rem;
}

.pagination button {
  margin: 0;
}

:host-context(.high-contrast) .page-item.disabled button {
  background-color: black;
  color: white;
}

:host-context(.high-contrast) .page-item button {
  background-color: black;
  color: yellow;
}
